#map{ 
	/*position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;*/
	width: 1080px;
	height: 740px;
}

#seachbox{ 
	position:relative;
	top:0;
	right:0;
}

#app{ 
	position:absolute;
	top:0;
	right:0;
	padding-top: 10px;
	padding-right: 10px;
}

#crime_table_div{
    position:absolute; 
    top:40px; 
    right:10px; 
    overflow: scroll;    
    width:410px; 
    height: 705px;
    font-size: 12px; 
    border: 1px solid #000000; 
    background-color: white;
}

td{
	border-style: solid;
	border: 1px solid #000000; 
}

th{
	border-style: solid;
	border: 1px solid #000000; 
	border-width: 5px;
}

#crime_table{
    border-style: solid;
	border: 1px solid #000000; 
}
